@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  @font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(/public/assets/fonts/Montserrat-VariableFont_wght.ttf) format("truetype");
  }
}

.card {
  @apply min-w-44 min-h-56 md:min-w-48 rounded-lg bg-secondary flex flex-col shadow-lg transition-all hover:scale-95 hover:shadow-md md:h-14;
}

.flex-card {
  @apply h-full flex flex-col gap-3;
}

.recommendationTitle {
  @apply font-bold text-xl text-white;
}

.recommendationText {
  @apply text-sm font-semibold text-pretty text-white md:text-base;
}

.card:nth-child(2n) {
  @apply bg-white;
}

.card:nth-child(2n) .recommendationTitle, .card:nth-child(2n) .recommendationText {
  @apply text-tertiary;
}

.titleCard {
  @apply text-2xl font-bold text-white;
}

.paragraphCard {
  @apply font-medium text-lg text-white;
}

.titleSections {
  @apply text-primary font-semibold text-2xl md:text-3xl
}

.nav-navigation {
  @apply h-full py-4 px-3 hover:bg-primary hover:text-white transition-all;
}


/* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }  